name: Stale Issues

# ✅ Solo una vez al día
on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

jobs:
  stale:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/stale@v9
        with:
          stale-issue-days: 60
          stale-pr-days: 30
